.custom-button {
    background-color: #eeeeee;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.372);
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #cfcfcf;
  }