.inputContainer {
  margin-bottom: 15px;
  width: 100%;
  height: 38px;
  display: flex;
}

.inputContainer label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.inputContainer small {
  color: #6c757d;
}
