.form-container-signup {
  width: 600px;
  height: fit-content;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.name-input-group {
  display: flex;
  gap: 20px;
  width: 100%;
}
